Вариант 21

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('./data5/Volgmed_2013.xlsx')
df

,Форма заполнения,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,№ п/п,Пол,Год рождения,Факультет,Курс,Группа,Год поступления,Дата обследования,"Рост, см","Вес, кг",...,"Гибкость, см","Время 10 хлопков, с","Прыжок в длину с места, см","Челночный бег, с","Силовой норматив, ед","Бег 100 м, с","Бег 2-3 км, мин","Статическая выносливость, с","Задержка дыхания, с","Равновесие, с"
1,104,жен,1981,лечебный,1,NaN,1999,2000-05-01 00:00:00,176,74.5,...,22,6.6,155,26,38,17.7,8.7,140,59,90
2,104,жен,1981,лечебный,3,NaN,1999,2002-05-01 00:00:00,176,74,...,23,6.5,158,25,47,18.7,6.58,144,68,90
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002-05-01 00:00:00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002-05-01 00:00:00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002-05-01 00:00:00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002-05-01 00:00:00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002-05-01 00:00:00,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN